In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
df = pd.read_csv('Indian_states_analysis.csv')

In [10]:
df.head()

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
0,Abohar,3,PUNJAB,9,145238,76840,68398,15870,8587,7283,...,44972,890,848,79.86,85.49,73.59,"30.1452928,74.1993043",16287,8612,7675
1,Achalpur,27,MAHARASHTRA,7,112293,58256,54037,11810,6186,5624,...,43086,928,909,91.99,94.77,89.00,"21.257584,77.5086754",8863,5269,3594
2,Adilabad,28,ANDHRA PRADESH,1,117388,59232,58156,13103,6731,6372,...,37660,982,947,80.51,88.18,72.73,"19.0809075,79.560344",10565,6797,3768
3,Adityapur,20,JHARKHAND,24,173988,91495,82493,23042,12063,10979,...,54515,902,910,83.46,89.98,76.23,"22.7834741,86.1576889",19225,12189,7036
4,Adoni,28,ANDHRA PRADESH,21,166537,82743,83794,18406,9355,9051,...,45089,1013,968,68.38,76.58,60.33,"15.6322227,77.2728368",11902,7871,4031

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 22 columns):
name_of_city                      493 non-null object
state_code                        493 non-null int64
state_name                        493 non-null object
dist_code                         493 non-null int64
population_total                  493 non-null int64
population_male                   493 non-null int64
population_female                 493 non-null int64
0-6_population_total              493 non-null int64
0-6_population_male               493 non-null int64
0-6_population_female             493 non-null int64
literates_total                   493 non-null int64
literates_male                    493 non-null int64
literates_female                  493 non-null int64
sex_ratio                         493 non-null int64
child_sex_ratio                   493 non-null int64
effective_literacy_rate_total     493 non-null float64
effective_literacy_rate_male      493 non-null float64
effective_literacy_rate_female    493 non-null float64
location                          493 non-null object
total_graduates                   493 non-null int64
male_graduates                    493 non-null int64
female_graduates                  493 non-null int64
dtypes: float64(3), int64(16), object(3)
memory usage: 84.8+ KB

In [14]:
df.isnull().values.any()

False

In [19]:
df.state_name.nunique()

29

In [23]:
df.sort_values(['state_name'], ascending=[True]).head()

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
376,Port Blair,35,ANDAMAN & NICOBAR ISLANDS,3,100608,53247,47361,9358,4852,4506,...,37000,889,929,89.76,92.79,86.34,"11.6233774,92.7264828",12420,6717,5703
444,Srikakulam,28,ANDHRA PRADESH,11,126003,62583,63420,11001,5686,5315,...,45875,1013,935,85.13,91.44,78.95,"18.4285005,84.0167423",21745,14125,7620
29,Anantapur,28,ANDHRA PRADESH,22,262340,131506,130834,23630,12409,11221,...,90000,995,904,81.88,88.54,75.24,"14.6818877,77.6005911",43700,27392,16308
339,Nandyal,28,ANDHRA PRADESH,21,200746,100770,99976,20588,10723,9865,...,62776,992,920,76.89,84.12,69.67,"15.4785694,78.4830934",22411,14540,7871
210,Hindupur,28,ANDHRA PRADESH,22,151835,76625,75210,16309,8263,8046,...,47361,982,974,76.40,82.18,70.52,"13.8185378,77.4988753",11050,6926,4124

In [22]:
df[df['state_name']=='ANDHRA PRADESH'].head()

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
2,Adilabad,28,ANDHRA PRADESH,1,117388,59232,58156,13103,6731,6372,...,37660,982,947,80.51,88.18,72.73,"19.0809075,79.560344",10565,6797,3768
4,Adoni,28,ANDHRA PRADESH,21,166537,82743,83794,18406,9355,9051,...,45089,1013,968,68.38,76.58,60.33,"15.6322227,77.2728368",11902,7871,4031
29,Anantapur,28,ANDHRA PRADESH,22,262340,131506,130834,23630,12409,11221,...,90000,995,904,81.88,88.54,75.24,"14.6818877,77.6005911",43700,27392,16308
86,Bhimavaram,28,ANDHRA PRADESH,15,142280,70066,72214,12157,6149,6008,...,53012,1031,977,83.41,86.87,80.07,"16.544893,81.521241",18298,11541,6757
123,Chilakaluripet,28,ANDHRA PRADESH,17,101550,50201,51349,9525,4916,4609,...,29864,1023,938,72.08,80.54,63.89,"16.0924301,80.1623948",9526,6302,3224